In [1]:
%matplotlib inline
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt

from linearmodels import PanelOLS

In [16]:
df = pd.read_csv('allplayeragewithteam.csv', encoding = "ISO-8859-1")

In [17]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [8]:
df = df.set_index('name')

In [13]:
df.iloc[0]['join']

'2014-??-??'

In [21]:
df[df['player'] == 'pieliedie']

Empty DataFrame
Columns: [cog, player, name, dob, role, team, join, leave]
Index: []

In [26]:
fa = df[['player', 'join']].groupby('player').first()

In [58]:
df[['player', 'join']].groupby('player').size().sort_values(ascending=False)

player
Pajkatt                    24
SQreen                     24
DeMoN                      24
ComeWithMe                 23
MiGGel                     23
RmN-                       22
MiSeRy                     21
SyndereN                   21
Sedoy                      21
Vigoss                     20
Goblak                     20
Bignum                     18
SexyBamboe                 18
Ryze                       18
MaNia                      18
HFn                        17
ALWAYSWANNAFLY             17
7ckngMad                   17
13abyKnight                17
Mag~                       16
Cr1t-                      16
Fear                       16
Mirakel                    16
Illidan                    16
Solo                       16
ArsZeeqq                   16
Funn1k                     15
UnderShock                 15
SlashStrike                15
L0lik O                    15
                           ..
820                         1
KBBQ                        1
SANKE                       1
Dreamocel                   1
MarSu                       1
Sayaka                      1
Okcya                       1
Nahaz                       1
Bkid                        1
Nine                        1
Mofi                        1
German player               1
TuTu                        1
Gnoji                       1
V1lat                       1
Axx                         1
GranDGranT                  1
Slahser                     1
Luft                        1
Sky                         1
Ariunbolor                  1
SirActionSlacks             1
Capitalist                  1
OmegaPwner                  1
OwnedMe                     1
PAADA                       1
Chaoly                      1
PLZDunKilme                 1
Seven (Filipino player)     1
Doctor                      1
Length: 759, dtype: int64

In [27]:
fa.head()

                   join
player
.Ark         2014-??-??
13abyKnight  2011-04-11
1437         2011-08-11
290          2014-03-??
33           2015-12-19

In [37]:
fa['join'].str[:4].sort_values()

player
Iceiceice        2005
Fear             2005
Vigoss           2006
Akke             2006
Maelk            2006
Loda             2006
NS               2006
MaNia            2006
Drayich          2006
Puppey           2007
Heen             2007
V1lat            2007
Goblak           2007
Dendi            2007
DkPhobos         2007
ARS-ART          2007
LighTofHeaveN    2007
Balsam           2007
Mirakel          2007
Axypa            2007
Slahser          2007
Pieliedie        2007
ComeWithMe       2008
Merlini          2008
MiSeRy           2008
BurNIng          2008
SyndereN         2008
XBOCT            2009
SexyBamboe       2009
MMY              2009
                 ...
Patos            2017
KBBQ             2017
Nine             2017
Dark             2017
Axx              2017
Taiga            2017
Arise            201?
C4t              201?
Benjaz           201?
Boombell         201?
Jackal           201?
Swifty           201?
RR               201?
Iceberg          201?
NO Chanc3        201?
F(x)             201?
KoaLa            20??
WhiteBeard       20??
Zxc              20??
Okcya            20??
RmN-             20??
Admiration       20??
WwieWambo        20??
PLZDunKilme      ???
Joraal           ????
Ysaera           ????
BungsellRotee    ????
Bubu             ????
Crio J           ????
Corey            ????
Name: join, Length: 759, dtype: object

In [50]:
fa2 = pd.to_numeric(fa['join'].str[:4], errors='coerce')

In [54]:
fa3 = fa[fa2 > 2013]

In [55]:
print(len(fa))
print(len(fa3))

759
378

In [59]:
fa3.head()

              join
player
.Ark    2014-??-??
290     2014-03-??
33      2015-12-19
4DR     2014-01-03
86      2015-12-01