In [2]:
%matplotlib inline
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt

# machine learning
from sklearn.linear_model import LogisticRegression
import statsmodels.api as sm
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from linearmodels import PanelOLS

C:\Users\nakhonpathompc\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [3]:
df = pd.read_csv('data.csv', encoding = "ISO-8859-1")

In [4]:
df.head()

,team,player,position,tour,place,prize,start,end,startelo32,startelo64,...,endelo32,endelo64,endglickorating,endglickomu,endglickophi,endglickosigma,endglicko2rating,endglicko2mu,endglicko2phi,endglicko2sigma
0,Infamous,Kotar? Hayama,1,Galaxy Battles II: Emerging Worlds,7,"$20,000",2018-01-19,2018-01-21,1116.266143,1172.69492,...,1114.677102,1170.334653,1646.254466,1840.23761,NaN,77.593258,1596.919637,1728.907874,52.795295,NaN
1,Infamous,Papita,2,Galaxy Battles II: Emerging Worlds,7,"$20,000",2018-01-19,2018-01-21,1116.266143,1172.69492,...,1114.677102,1170.334653,1646.254466,1840.23761,NaN,77.593258,1596.919637,1728.907874,52.795295,NaN
2,Infamous,StingeR,3,Galaxy Battles II: Emerging Worlds,7,"$20,000",2018-01-19,2018-01-21,1116.266143,1172.69492,...,1114.677102,1170.334653,1646.254466,1840.23761,NaN,77.593258,1596.919637,1728.907874,52.795295,NaN
3,Infamous,Scofield,4,Galaxy Battles II: Emerging Worlds,7,"$20,000",2018-01-19,2018-01-21,1116.266143,1172.69492,...,1114.677102,1170.334653,1646.254466,1840.23761,NaN,77.593258,1596.919637,1728.907874,52.795295,NaN
4,Infamous,Masoku,5,Galaxy Battles II: Emerging Worlds,7,"$20,000",2018-01-19,2018-01-21,1116.266143,1172.69492,...,1114.677102,1170.334653,1646.254466,1840.23761,NaN,77.593258,1596.919637,1728.907874,52.795295,NaN

In [5]:
df['prize'] = df['prize'].replace('[\$,]', '', regex=True).astype(float)
df.player = df.player.replace(r'\W+', '', regex=True).str.lower()
df.start = pd.to_datetime(df.start)
df.end = pd.to_datetime(df.end)
print(df.dtypes)
df.head()

team                          object
player                        object
position                       int64
tour                          object
place                          int64
prize                        float64
start                 datetime64[ns]
end                   datetime64[ns]
startelo32                   float64
startelo64                   float64
startglickorating            float64
startglickomu                float64
startglickophi               float64
startglickosigma             float64
startglicko2rating           float64
startglicko2mu               float64
startglicko2phi              float64
startglicko2sigma            float64
endelo32                     float64
endelo64                     float64
endglickorating              float64
endglickomu                  float64
endglickophi                 float64
endglickosigma               float64
endglicko2rating             float64
endglicko2mu                 float64
endglicko2phi                float64
endglicko2sigma              float64
dtype: object

,team,player,position,tour,place,prize,start,end,startelo32,startelo64,...,endelo32,endelo64,endglickorating,endglickomu,endglickophi,endglickosigma,endglicko2rating,endglicko2mu,endglicko2phi,endglicko2sigma
0,Infamous,kotarhayama,1,Galaxy Battles II: Emerging Worlds,7,20000.0,2018-01-19,2018-01-21,1116.266143,1172.69492,...,1114.677102,1170.334653,1646.254466,1840.23761,NaN,77.593258,1596.919637,1728.907874,52.795295,NaN
1,Infamous,papita,2,Galaxy Battles II: Emerging Worlds,7,20000.0,2018-01-19,2018-01-21,1116.266143,1172.69492,...,1114.677102,1170.334653,1646.254466,1840.23761,NaN,77.593258,1596.919637,1728.907874,52.795295,NaN
2,Infamous,stinger,3,Galaxy Battles II: Emerging Worlds,7,20000.0,2018-01-19,2018-01-21,1116.266143,1172.69492,...,1114.677102,1170.334653,1646.254466,1840.23761,NaN,77.593258,1596.919637,1728.907874,52.795295,NaN
3,Infamous,scofield,4,Galaxy Battles II: Emerging Worlds,7,20000.0,2018-01-19,2018-01-21,1116.266143,1172.69492,...,1114.677102,1170.334653,1646.254466,1840.23761,NaN,77.593258,1596.919637,1728.907874,52.795295,NaN
4,Infamous,masoku,5,Galaxy Battles II: Emerging Worlds,7,20000.0,2018-01-19,2018-01-21,1116.266143,1172.69492,...,1114.677102,1170.334653,1646.254466,1840.23761,NaN,77.593258,1596.919637,1728.907874,52.795295,NaN

In [6]:
pool = df.groupby(['start', 'team']).first()[['prize', 'tour']].groupby('tour').sum().reset_index().rename(columns={'prize': 'pool'})
pool.head()

                                   tour      pool
0            2013 WPC ACE Dota 2 League  254534.0
1  2015 Red Bull Battle Grounds: Dota 2   88295.0
2           AMD Premier League Season 1    6500.0
3           AMD Premier League Season 2    7000.0
4          AMD SAPPHIRE Dota PIT League  300000.0

In [7]:
df = pd.merge(df, pool, how='left', on=['tour'])

In [8]:
df2 = pd.read_csv('dob.csv', encoding = "ISO-8859-1")
df2.head()

          country       player                         name         dob
0          Russia         .Ark            Egor Zhabotinskii  1997-07-07
1         Denmark  13abyKnight                 Jon Andersen  1992-06-15
2          Canada         1437  Sivatheeban Sivanathapillai         NaN
3           China          290                    Zeng Chen         NaN
4  United Kingdom          2GD                James Harding  1982-12-29

In [9]:
df2.player = df2.player.replace(r'\W+', '', regex=True).str.lower()
df2.dob = pd.to_datetime(df2.dob)
print(df2.dtypes)
df2.head()

country            object
player             object
name               object
dob        datetime64[ns]
dtype: object

          country       player                         name        dob
0          Russia          ark            Egor Zhabotinskii 1997-07-07
1         Denmark  13abyknight                 Jon Andersen 1992-06-15
2          Canada         1437  Sivatheeban Sivanathapillai        NaT
3           China          290                    Zeng Chen        NaT
4  United Kingdom          2gd                James Harding 1982-12-29

In [10]:
df = pd.merge(df, df2, how='left', on=['player'])

In [11]:
df[['country', 'team', 'player', 'position', 'dob', 'tour', 'start', 'end', 'place', 'prize', 'startelo64', 'endelo64']].to_csv('descriptive.csv', index=False)

In [32]:
df.groupby(['player', 'tour', 'team']).size()

player  tour                                                team
        Dota 2 Asia Championships 2015                      Speed Gaming.cn       6
        Dota 2 Super League                                 For.Love              6
        Dota2 ACE - Provisional                             Brave Heart           6
                                                            DUOBAO               18
                                                            EHOME.Keen           12
                                                            FTD Club C            6
        Dota2 Professional League Season 1                  Brave Heart           6
                                                            EHOME.Keen           12
                                                            EHOME.Luminous        6
        Dota2 Professional League Season 2 - Secondary      Avalon Club          12
                                                            Brave Heart           6
                                                            DUOBAO               18
                                                            EHOME.Keen           12
                                                            TongFu                6
                                                            We Are Young          6
        Dota2 Professional League Season 2 - Top            FTD Club C            6
        Dota2 Professional League Season 3 (2017 S1) - Top  EHOME.Keen           12
                                                            FTD Club C            6
        ECL 2014 Autumn                                     Speed Gaming.cn      12
        ECL 2015 Autumn                                     FTD club A            6
        ESL One Hamburg 2017                                Keen Gaming          12
        G-League 2012 Season 2                              For.Love              6
        G-League 2014                                       Speed Gaming.cn      12
        MPGL Southeast Asian Championship                   EHOME.Keen           12
        National Electronic Sports Tournament 2014          Speed Gaming.cn      12
        Shanghai Dota 2 Open #2                             Brave Heart           6
                                                            EHOME.Keen           12
                                                            TongFu                6
                                                            We Are Young          6
        Sina Cup Supernova Dota 2 Open Season 5             Speed Gaming.cn      12
                                                                                 ..
zsmj    G-League 2014                                       HyperGloryTeam        1
        G-League 2015                                       HyperGloryTeam        1
        National Electronic Sports Open 2014                HyperGloryTeam        1
        National Electronic Sports Tournament 2013          TongFu                1
        Red Bull ECL 2013 Dota 2 Season                     Vici Gaming           1
        Red Bull ECL 2013 Grand Finals                      TongFu                1
        Sina Cup Supernova Dota 2 Open Season 5             HyperGloryTeam        1
        Sina Cup Supernova Dota 2 Open/Season 1             TongFu                1
        World E-sport Championships 2014                    HyperGloryTeam        1
        i-League Season 2                                   HyperGloryTeam        1
ztok    Dota 2 Canada Cup Season 6                          Infamous              1
                                                            Slayers of Gods       1
        Frankfurt Major 2015                                Team Unknown          1
        The Final Match Season 1                            Thunder Awaken        1
zxc     Dota 2 Champions League Season 2                    Power Rangers         1
        Fragbite Masters 2013                               Power Rangers         1
        StarLadder StarSeries Season 6                      Power Rangers         1
        Techlabs Cup 2013 Grand Finals                      Power Rangers         1
        The Defense Season 2                                Power Rangers         1
        The Defense Season 3                                XX5 Gaming            1
zy      ECL 2014 Spring                                     Speed Gaming.cn       1
zyf     Dota 2 Asia Championships 2015                      EHOME                 1
        Dota 2 League Season 5                              LV Gaming             1
        ECL 2014 Autumn                                     LV Gaming             1
        G-League 2014                                       LV Gaming             1
        National Electronic Sports Tournament 2014          LV Gaming             1
        Sina Cup Supernova Dota 2 Open Season 5             LV Gaming             1
        The International 2015                              EHOME                 1
        V Games Tournament                                  Orenda                1
zyzz    The International 2015                              CompLexity Gaming     1
dtype: int64

In [ ]:
ra = df[['team', 'player', 'dob', 'position', 'tour', 'place', 'prize', 'pool', 'start', 'end', 'startelo64', 'endelo64']]
print(len(ra))
print(len(ra.dropna()))
ra = ra.dropna().sort_values('start').reset_index().drop('index', axis=1)

In [ ]:
ra = ra.rename(columns={'startelo64': 'srt', 'endelo64': 'ert'})
ra.head()

In [ ]:
ra['age'] = (ra.start - ra.dob).dt.days

In [ ]:
for player in ra.player.unique():
    try:
        dfid = pd.DataFrame(ra[ra['player'] == player].tour.unique()).reset_index().rename(columns={'index': 'exp', 0: 'tour'})
        dfid['player'] = player
        dfid2 = pd.concat([dfid2, dfid])
    except NameError:
        dfid2 = dfid
        continue

In [ ]:
ra = pd.merge(ra, dfid2, how='left', on=['player', 'tour'])

In [ ]:
ra.head()

In [ ]:
ti = ra[ra['tour'].str[:17] == 'The International'].groupby('tour').first()[['pool', 'start', 'end']]
ti

In [ ]:
ra['weight'] = ra['pool']
for i in range(0, 5):
    ra.loc[(ra['start'] >= ti['start'].iloc[i]) & (ra['start'] <= ti['start'].iloc[i+1]), 'weight'] = ra[(ra['start'] >= ti['start'].iloc[i]) & (ra['start'] <= ti['start'].iloc[i+1])]['pool'].apply(np.log) / np.log(ti['pool'].iloc[i])

#Only before ti7
ra = ra[ra['start'] < ti['start'].iloc[5]]

In [ ]:
init = ra.sort_values('start').groupby('player').first()['srt'].reset_index().rename(columns={'srt': 'init'})
init.head()

In [ ]:
ra = pd.merge(ra, init, how='left', on=['player'])

In [ ]:
ra['drt'] = ra.ert - ra.srt
ra['wdrt'] = ra['drt'] * ra['weight']
ra.head()

In [ ]:
cumsums = ra[['player', 'start', 'wdrt']].groupby(['player', 'start']).sum().groupby(level=0).cumsum()
ra = ra.set_index(['player', 'start'])
ra['cumrt'] = cumsums
ra = ra.reset_index()
ra.head()

In [ ]:
ra['crt'] = ra.cumrt + ra.init
#ra['crt'] = (ra.weight * ra.drt)
ra.tail()

In [ ]:
ra = ra.reset_index().drop_duplicates(subset=['start', 'player'])

In [ ]:
ra = ra[ra['player'] != '']
ra = ra[(ra['age'] > 6570) & (ra['age'] < 10220)]

In [ ]:
ra = pd.merge(ra, ra.groupby('player').size().reset_index().reset_index().drop(0,axis=1).rename(columns={'index': 'id'}), how='left', on=['player'])

In [ ]:
ra = pd.merge(ra, ra.groupby(['team', 'tour']).sum()[['crt']].reset_index().rename(columns={'crt': 'trt'}), how='left', on=['tour', 'team'])
ra['trt'] = ra['trt'] - ra['crt']

In [ ]:
#analysis
ra['const'] = 1
ra['age2'] = ra.age ** 2
ra['age3'] = ra.age ** 3
ra['exp2'] = ra.exp ** 2
ra['exp3'] = ra.exp ** 3
ra['lexp'] = np.add(ra.exp, 1).apply(np.log)

In [ ]:
v = ra
ra = ra.set_index(['id', 'start']).sort_index()

In [ ]:
y = ra['crt']
x = ra['exp']
plt.scatter(x, y)
plt.plot(np.unique(x), np.poly1d(np.polyfit(x, y, 2))(np.unique(x)), 'r')

In [ ]:
#core vs sup
cor = ra[ra['position'] <= 3]
sup = ra[ra['position'] > 3]

In [ ]:
pos1 = ra[ra['position'] == 1]
pos2 = ra[ra['position'] == 2]
pos3 = ra[ra['position'] == 3]
pos4 = ra[ra['position'] == 4]
pos5 = ra[ra['position'] == 5]

In [ ]:
ra[['crt', 'age3', 'age2', 'age', 'lexp']]

In [ ]:
ra.describe()

In [ ]:
#ALL
y = ra['wdrt']#.apply(np.log)
x = ra[['age', 'age2', 'age3', 'trt']]
mod = PanelOLS(y, x, entity_effects=True)
res = mod.fit(cov_type='clustered', cluster_entity=True)
res.summary

In [ ]:
#CORE
y = cor['wdrt']
x = cor[['age', 'age2', 'lexp', 'trt']]
mod = PanelOLS(y, x, entity_effects=True)
res = mod.fit(cov_type='clustered', cluster_entity=True)
res.summary

In [ ]:
#SUP
y = sup['srt'].apply(np.log)
x = sup[['age', 'age2', 'lexp']]
mod = PanelOLS(y, x, entity_effects=True)
res = mod.fit(cov_type='clustered', cluster_entity=True)
res.summary

In [ ]:
y = v['crt']
x = v['srt']
plt.scatter(x, y, alpha=0.2)
plt.plot(np.unique(x), np.poly1d(np.polyfit(x, y, 2))(np.unique(x)), 'r')